<section>

    <md-content layout="column" layout-align="center center" layout-padding="">

        <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" novalidate autocomplete="off">

            <div layout="row">

                <md-input-container flex="50" class="md-block">

                    <label for="firstName">First Name</label>
                    <input md-maxlength="50" required="" md-no-asterisk="" id="firstName" name="firstName" ng-model="user.firstName">

                </md-input-container>

                <span flex></span>

                <md-input-container flex="50" class="md-block">

                    <label for="lastName">Last Name</label>
                    <input md-maxlength="50" required="" md-no-asterisk="" id="lastName" name="lastName" ng-model="user.lastName">

                </md-input-container>

            </div>

            <md-input-container class="md-block">

                <label for="email">Email</label>
                <input md-maxlength="100" required="" md-no-asterisk="" id="email" name="email" ng-model="user.email" lowercase>

            </md-input-container>

            <div layout="row">
                <md-button flex="100" type="submit" class="md-raised md-warn">Save</md-button>
            </div>

        </form>

    </md-content>

</section>