<div data-ng-controller="UsersController" data-ng-show="authenticated">

    <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="loaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <md-content layout="column" layout-align="center center" flex ng-show="loaded">

        <md-card>

            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">

                <div layout="row" layout-align="end center" style="padding-top: 10px" class="md-toolbar-tools">

                    <md-input-container layout="row" layout-align="start center">
                        <label for="search">Search</label>
                        <input id="search" ng-change="search()" ng-model="query.search" type="text">
                    </md-input-container>

                    <span flex></span>

                    <md-button class="md-fab md-mini md-ink-ripple" ui-sref="authentication.signup">
                        <md-icon style="display: initial" aria-label="Create new user" md-svg-icon="icons/content/ic_add_circle_outline_24px.svg"></md-icon>
                    </md-button>

                </div>

            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                </div>
            </md-toolbar>

            <md-table-container data-ng-init="find()">

                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">

                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                        <th md-column><span>Actions</span></th>
                        <th md-column><span>Avatar</span></th>
                        <th md-column><span>Display Name</span></th>
                        <th md-column><span>Username</span></th>
                        <th md-column><span>Email</span></th>
                        <th md-column><span>Roles</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>

                    <tr md-row md-select="user" md-on-select="logItem" md-auto-select="options.autoSelect"
                        ng-repeat="user in users">

                        <td md-cell>

                            <div layout="row" layout-align="center center" flex>

                                <md-fab-speed-dial ng-hide="hidden" md-direction="left" md-open="isOpen" class="md-scale md-mini" ng-class="{ 'md-hover-full': hover }" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
                                    <md-fab-trigger>
                                        <md-button aria-label="menu" class="md-fab md-warn md-mini">
                                            <md-tooltip md-direction="top" md-visible="tooltipVisible">Select action</md-tooltip>
                                            <md-icon md-svg-src="icons/hardware/ic_keyboard_arrow_right_48px.svg" aria-label="menu"></md-icon>
                                        </md-button>
                                    </md-fab-trigger>

                                    <md-fab-actions flex style="position: absolute; padding-left: 50px">
                                        <!--style="background-color: rgba(255,0,0,0.1)"-->
                                        <div ng-repeat="item in items">

                                            <md-button style="margin-left: 3px;margin-right: 3px;" aria-label="{{item.name}}"
                                                       class="md-fab md-raised md-mini" ng-click="action(item.action, user, $event)">

                                                <md-tooltip hide show-gt-sm flex md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
                                                    {{item.name}}
                                                </md-tooltip>

                                                <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
                                            </md-button>

                                            <span flex></span>

                                        </div>
                                    </md-fab-actions>

                                </md-fab-speed-dial>

                            </div>
                        </td>

                        <td md-cell>
                            <img style="height: 45px;width: 45px;border-radius: 50%; margin: auto;box-sizing: content-box;display: block"
                                         class="md-avatar md-fab"
                                         ng-src="{{user.profileImageURL}}"/>
                        </td>

                        <td md-cell>{{user.displayName}}</td>
                        <td md-cell>{{user.username}}</td>
                        <td md-cell>{{user.email}}</td>

                        <td md-cell>
                            <md-select ng-model="user.Roles[0].name" placeholder="Unknown">
                                <md-option ng-value="role.name" ng-click="setRole(user,role, $event)" ng-repeat="role in rolesList">{{role.name}}</md-option>
                            </md-select>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </md-table-container>

            <md-table-pagination md-limit="query.limit"
                                 md-limit-options="limitOptions"
                                 md-page="query.page"
                                 md-total="{{totalItems}}"
                                 md-page-select="options.pageSelect"
                                 md-boundary-links="options.boundaryLinks"
                                 md-on-paginate="logPagination">
            </md-table-pagination>

        </md-card>

    </md-content>

</div>