<section>
    <div flex="" layout="column" layout-align="center center">

        <md-content layout="column" layout-align="center center" layout-padding="">

            <form name="emailForm" style="max-width: 80%" ng-submit="sendEmail()" novalidate autocomplete="off">

                <md-contact-chips ng-model="contacts"
                                  md-contacts="querySearch($query)"
                                  md-contact-name="name"
                                  md-contact-image="image"
                                  md-contact-email="email"
                                  md-require-match="true"
                                  md-highlight-flags="i"
                                  filter-selected="filterSelected"
                                  placeholder="To">
                </md-contact-chips>

                <span flex></span>

                <md-input-container class="md-block">
                    <label>Subject</label>
                    <input required="" ng-model="mail.subject">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Message</label>
                    <textarea ng-model="mail.message" md-maxlength="1000" rows="3" required="" md-select-on-focus=""></textarea>
                </md-input-container>

                <div layout="row">
                    <md-button flex="100" type="submit" class="md-raised md-warn">Send email</md-button>
                </div>

            </form>

        </md-content>

    </div>
</section>

