<section>
    <div flex="" layout="column" layout-align="center center">

        <md-content layout="column" layout-align="center center" layout-padding="">

            <form name="noticeForm" style="max-width: 80%" ng-submit="sendNotice()" novalidate autocomplete="off">

                <md-contact-chips ng-model="contacts"
                                  md-contacts="querySearch($query)"
                                  md-contact-name="name"
                                  md-contact-image="image"
                                  md-require-match="true"
                                  md-highlight-flags="i"
                                  filter-selected="filterSelected"
                                  placeholder="To">
                </md-contact-chips>

                <span flex></span>

                <md-input-container class="md-block">
                    <label>Title</label>
                    <input required="" ng-model="title">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Message</label>
                    <textarea ng-model="message" required="" md-maxlength="100" rows="3" md-select-on-focus=""></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Notice Type</label>
                    <md-select name="noticeType" ng-model="noticeType" required="">
                        <md-option ng-repeat="type in noticeTypes" value="{{type}}">{{type}}</md-option>
                    </md-select>
                </md-input-container>

                <div layout="row">
                    <md-button flex="100" type="submit" class="md-raised md-warn">Send notice</md-button>
                </div>

            </form>

        </md-content>

    </div>
</section>

