.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all ease 1s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.my-repeat-animation.ng-enter.ng-enter-active,
.my-repeat-animation.ng-leave {
    opacity: 1;
    -moz-transition: opacity 300ms linear;
    -webkit-transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

.my-repeat-animation.ng-leave.ng-leave-active,
.my-repeat-animation.ng-enter {
    opacity: 0;
    -moz-transition: opacity 300ms linear;
    -webkit-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
    -o-transition: opacity 300ms linear;
}
