<md-toolbar ng-controller="HeaderController as vm" ng-cloak="" ng-init="vm.fetchNotices()">

    <div class="md-toolbar-tools" layout="row" layout-align="start center">

        <div id="to-the-left" layout="row" layout ng-if="vm.authentication.user">
            <md-button ng-click="vm.toggleLeft()" class="md-fab md-mini md-primary">
                <md-icon aria-label="Menu" md-svg-src="icons/cbs/logo.svg">menu</md-icon>
            </md-button>
        </div>

        <span flex> </span>

        <div id="to-the-right" ng-if="vm.authentication.user">

            <md-menu layout-align="center center" layout="column">

                <a href="" layout-align="start center" layout="row" ng-click="$mdOpenMenu()">

                    <div hide show-gt-sm>
                        <small class="md-subhead">Aye, {{vm.authentication.user.displayName}}</small>
                        &nbsp;&nbsp;&nbsp;
                    </div>

                    <img class="md-avatar md-fab"
                         style="height: 45px;width: 45px;border-radius: 50%; margin: auto;box-sizing: content-box;display: block" ng-src="{{vm.authentication.user.profileImageURL}}">

                </a>

                <md-menu-content width="4">

                    <md-menu-item>
                        <md-button aria-label="Edit Profile" ng-click="vm.menuItemClick()" ui-sref="settings.profile">
                            Edit Profile
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button aria-label="Edit Profile" ng-click="vm.menuItemClick()" ui-sref="settings.password">
                            Change Password
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <a class="md-button" aria-label="Edit Profile" href="/api/auth/signout" target="_self">Signout</a>
                    </md-menu-item>

                </md-menu-content>

            </md-menu>

        </div>

    </div>

</md-toolbar>
