<div ng-controller="HomeController as vm">

    <div class="menu-demo-container" layout-align="start center" layout="column">

        <div layout-align="start center" layout="column" style="min-height:150px;">
            <h2 class="md-title">Greetings, <i>{{vm.user.displayName}}</i>.</h2>
            <p>Please try your best to have a <code>good</code> day!</p>
            <p>Welcome to the dank side ... </p>
            <p> What do we say to Linux ? Not now please :D</p>
        </div>

    </div>

</div>
