<div ng-controller="SidenavController as vm">

    <md-toolbar class="sidebar-left-toolbar">

        <div class="md-toolbar-tools layout-align-start-center layout-row"
             style="display: flex;margin: auto; justify-content: space-around;"
             layout="row"
             layout-align="center center">

            <div flex="60" ng-include="'images/logo.svg'" layout="row" layout-align="center center">
                <svg></svg>
            </div>

        </div>

    </md-toolbar>

    <md-content role="navigation">

        <ul class="side-menu">
            <li ng-repeat="section in vm.menu.sections"
                class="parent-list-item"
                ng-class="{'parentActive' : vm.menu.isSectionSelected(section)}">

                <h2 class="menu-heading" ng-if="section.type === 'heading'"
                    id="heading_{{ section.name | nospace }}">
                    {{section}}
                </h2>

                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>

                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>

            </li>
        </ul>

    </md-content>

</div>