<section layout-align="center center">


    
    <span class="md-display-2" flex layout="row" layout-align="center center">Holiday</span>

    <!-- class="animate-show" ng-show="checked" -->
    <div flex layout="row" id="calendarDiv" layout-align="center center">

        <calendar-md flex="{{calendarFlexValue}}"
                     calendar-direction="direction"
                     on-prev-month="prevMonth"
                     on-next-month="nextMonth"
                     on-day-click="dayClick"
                     title-format="'MMMM y'"
                     ng-model='selectedDates'
                     week-starts-on="1"
                     data-start-month=""
                     data-start-year=""
                     tooltips="false"
                     day-format="d"
                     day-label-format="'EEE'" S
                     day-label-tooltip-format="'EEEE'"
                     day-tooltip-format="'fullDate'"
                     day-content="setDayContent"
                     disable-future-selection="false"
                     disabled-dates="{{disabled}}"
        </calendar-md>

    </div>

    <br>

    <div id="createOrDelete" ng-show="create || editing" class="animate-show">

        <div id="inputHeader">

            <div flex layout="{{rowOrColumnForMobile}}" layout-align="center center" style="justify-content: space-around">
                <span style="text-align: center" flex="{{calendarFlexValue}}">Please make sure your input data is correct!</span>
            </div>

            <br>

            <div flex layout="{{rowOrColumnForMobile}}" flex="{{calendarFlexValue}}" layout-align="center center">
                <div ng-repeat="date in displaySelectedDates">

                    <span style="text-align: center; color:red"> {{date.dayName}} </span>
                    <small style="text-align: center; color:red"> ({{date.dayNumber}}) </small>

                    <!--<span style="text-align: center; color:green">{{date.month}} </span>
                        <small style="text-align: center">{{date.year}} </small>-->
                    <span ng-if="displaySelectedDates.length > 1" style="text-align: center"> ,</span>

                </div>
            </div>

            <div layout="row" layout-align="center center">
                <md-divider flex="{{calendarFlexValue}}" style="border-top-width: 1px;"></md-divider>
            </div>

            <br>
        </div>

        <div flex layout="{{rowOrColumnForMobile}}" layout-align="center center">

            <div flex="{{calendarFlexValue}}" layout="column" style="justify-content: space-around">

                <md-input-container flex="50" id="description" class="md-block md-input-has-value">
                    <md-icon md-svg-src="icons/action/ic_info_outline_48px.svg"></md-icon>
                    <label for="descriptionInput">Description</label>
                    <textarea  id="descriptionInput" ng-model="description" rows="1" md-select-on-focus=""></textarea>
                </md-input-container>

                <md-input-container flex="50" id="destination" class="md-block md-input-has-value">
                    <md-icon md-svg-src="icons/places/ic_airport_shuttle_48px.svg"></md-icon>
                    <label for="destinationInput">Destination</label>
                    <textarea  id="destinationInput" ng-model="destination" rows="1" md-select-on-focus=""></textarea>
                </md-input-container>

                <div flex layout="row" ng-show="!createNewContact" class="animate-show" layout-align="center center">

                    <md-icon style="margin-right: 10px;" md-svg-src="icons/action/ic_perm_identity_48px.svg" class="name"></md-icon>

                    <md-contact-chips flex="{{contactChipsFlexValue}}" ng-model="contacts"
                                      md-contacts="querySearch($query)"
                                      md-contact-name="name"
                                      md-contact-image="image"
                                      md-require-match="true"
                                      md-separator-keys="keys"
                                      filter-selected="true"
                                      placeholder="Stand-in person">
                    </md-contact-chips>

                    <md-button flex="{{createNewButtonFlexValue}}" ng-click="newContact()" class="md-icon-button" aria-label="Create a new contact">
                        <md-icon md-svg-icon="icons/communication/ic_contact_mail_48px.svg"></md-icon>
                    </md-button>

                </div>

<!--
                <span class="animate-show" ng-show="createNewContact"> Stand in person contact details</span>
-->

                <div flex layout="{{rowOrColumnForMobile}}" class="animate-show" ng-show="createNewContact" layout-align="center center" id="createNewContact">

                    <md-input-container flex="33">
                        <md-icon md-svg-src="icons/action/ic_perm_identity_48px.svg"></md-icon>
                        <label>Name</label>
                        <input ng-model="newContactName" type="text">
                    </md-input-container>

                    <md-input-container  flex="33">
                        <md-icon md-svg-src="icons/communication/ic_contact_mail_48px.svg"></md-icon>
                        <label>Email</label>
                        <input ng-model="newContactEmail" type="email">
                    </md-input-container>

                    <md-input-container  flex="33">
                        <md-icon md-svg-src="icons/action/ic_perm_phone_msg_48px.svg"></md-icon>
                        <label>Phone No.</label>
                        <input ng-model="newContactPhone" type="text">
                    </md-input-container>

                    <md-button flex="1" ng-click="backToUsers()" class="md-icon-button" aria-label="Back to users">
                        <md-icon md-svg-icon="icons/content/ic_backspace_48px.svg"></md-icon>
                    </md-button>

                </div>

            </div>

        </div>

        <br>

    </div>

    <div flex layout="row" layout-align="center center">
        <md-button flex="{{calendarFlexValue}}" class="animate-show md-raised md-warn" ng-click="insertHolidayData()" ng-show="create">Create</md-button>
    </div>

    <div flex layout="row" layout-align="center center">
        <md-button flex="{{calendarFlexValue}}" class="animate-show md-raised md-warn" ng-click="updateHolidayData()" ng-show="editing">Edit</md-button>
    </div>


    <br><br><br>

</section>