<section layout-align="center center">

    <span class="md-display-2" flex layout="row" layout-align="center center">General</span>

    <br><br>

    <div layout="column" layout-align="space-around center">

        <md-input-container>
            <label>Request type</label>
            <md-icon md-svg-icon="icons/action/ic_description_48px.svg"></md-icon>
            <textarea ng-model="requestType" max-rows="1" required></textarea>
        </md-input-container>

        <md-input-container>
            <label>Description</label>
            <md-icon md-svg-icon="icons/action/ic_info_outline_48px.svg"></md-icon>
            <textarea ng-model="description" required></textarea>
        </md-input-container>

    </div>
    <div flex layout="row" layout-align="center center">

        <md-button ng-click="btnClicked()"   flex="{{btnFlexValue}}" class="animate-show md-raised md-warn">Submit</md-button>
    </div>


</section>