<section ng-controller="PasswordController">
    <div flex layout="column" layout-align="center center" ng-cloak="">

        <span>Please enter your account username.</span>
        <span>We will take care of the rest!</span>

        <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" novalidate autocomplete="off">

            <md-input-container class="md-block">

                <label for="email">Username</label>
                <input required="" md-no-asterisk="" id="username" name="username" ng-model="credentials.username" lowercase>

            </md-input-container>

            <div layout="row">
                <md-button flex="100" type="submit" class="md-raised md-warn">Recover password</md-button>
            </div>

        </form>

    </div>

</section>
