<section ng-controller="PasswordController">
    <div flex layout="column" layout-align="center center" ng-cloak="">

        <h3 class="md-headline">Reset your password</h3>

        <form name="resetPasswordForm" ng-submit="resetUserPassword(resetPasswordForm.$valid)" novalidate autocomplete="off">

            <md-input-container class="md-block">

                <div ng-show="!resetPasswordForm.newPassword.$error.required">
                    <md-progress-linear md-mode="determinate" value="{{requirementsProgress}}"></md-progress-linear>
                </div>

                <label for="newPassword">New Password</label>
                <input type="password" required="" md-no-asterisk="" id="newPassword" name="newPassword" ng-model="passwordDetails.newPassword" popover="{{popoverMsg}}" popover-trigger="focus" popover-placement="top" password-validator>

                <div flex ng-messages="resetPasswordForm.newPassword.$error">
                    <div ng-repeat="passwordError in passwordErrors">
                        <small ng-show="resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</small>
                    </div>
                </div>

            </md-input-container>


            <md-input-container class="md-block">

                <label for="verifyPassword">Verify Password</label>
                <input type="password" required="" md-no-asterisk="" id="verifyPassword" name="verifyPassword" ng-model="passwordDetails.verifyPassword" password-verify="passwordDetails.newPassword">

                <div ng-messages="resetPasswordForm.verifyPassword.$error">
                    <small ng-show="resetPasswordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</small>
                </div>

            </md-input-container>

            <div layout="row">
                <md-button flex="100" type="submit" class="md-raised md-warn">Update Password</md-button>
            </div>

        </form>
    </div>
</section>
