<section layout-align="center center">

    <span class="md-display-2" flex layout="row" layout-align="center center">Timesheet</span>

    <!-- class="animate-show" ng-show="checked" -->
    <div flex layout="row" id="calendarDiv" layout-align="center center">

        <calendar-md flex="{{calendarFlexValue}}"
                     calendar-direction="direction"
                     on-prev-month="prevMonth"
                     on-next-month="nextMonth"
                     on-day-click="dayClick"
                     title-format="'MMMM y'"
                     ng-model='selectedDates'
                     week-starts-on="1"
                     data-start-month=""
                     data-start-year=""
                     tooltips="false"
                     day-format="d"
                     day-label-format="'EEE'" S
                     day-label-tooltip-format="'EEEE'"
                     day-tooltip-format="'fullDate'"
                     day-content="setDayContent"
                     disable-future-selection="false"
                     disabled-dates="{{disabled}}"
        </calendar-md>

    </div>

    <br>

    <div id="createOrDelete" ng-show="create || edit" class="animate-show">

        <div id="inputHeader">

            <div flex layout="{{rowOrColumnForMobile}}" layout-align="center center" style="justify-content: space-around">
                <span style="text-align: center" flex="{{calendarFlexValue}}">Please make sure your input data is correct! Tasks are optional.</span>
            </div>

            <br>

            <div flex layout="{{rowOrColumnForMobile}}" layout-align="center center">
                <div flex="{{calendarFlexValue}}" layout="column" layout-align="center center">
                    <div ng-repeat="date in displaySelectedDates">

                        <span style="text-align: center; color:red"> {{date.dayName}} </span>
                        <small style="text-align: center; color:green"> ({{date.dayNumber}}) </small>

                        <!--<span style="text-align: center; color:green">{{date.month}} </span>
                            <small style="text-align: center">{{date.year}} </small>-->
<!--
                        <span ng-if="displaySelectedDates.length > 1" style="text-align: center"> ,</span>
-->

                    </div>
                </div>
            </div>

            <div layout="row" layout-align="center center">
                <md-divider flex="{{calendarFlexValue}}" style="border-top-width: 1px;"></md-divider>
            </div>

        </div>

        <br><br>

        <div ng-repeat="entry in timesheetEntryData" id="entry-{{entry.entryId}}" class="animate-show my-repeat-animation">

            <div flex layout="{{rowOrColumnForMobile}}" layout-align="center center">

                <div flex="{{calendarFlexValue}}" class="{{whiteFrameForActions}}" layout="{{rowOrColumnForMobile}}">

                    <md-button flex="50" ng-disabled="true"># {{entry.entryId + 1}}</md-button>

                    <div flex="50" layout="row" layout-align="end center">

                        <md-button style="width: 35px;height: 24px" class="md-fab md-mini md-button md-ink-ripple" ng-click="addNewTimesheetDataEntry()" aria-label="Add a new">
                            <md-tooltip md-direction="left">
                                Add a new
                            </md-tooltip>
                            <md-icon md-svg-src="icons/content/ic_add_circle_outline_48px.svg"></md-icon>
                        </md-button>

                        <md-button style="width: 35px;height: 24px" class="md-fab md-button md-ink-ripple" ng-click="cloneNewTimesheetDataEntry(entry.entryId)" aria-label="Clone">
                            <md-tooltip md-direction="left">
                                Clone
                            </md-tooltip>
                            <md-icon md-svg-src="icons/av/ic_queue_48px.svg"></md-icon>
                        </md-button>

                        <md-button style="width: 35px;height: 24px" class="md-fab md-mini md-warn md-button md-ink-ripple" ng-click="removeTimesheetEntryElement(entry.entryId)" aria-label="Remove">
                            <md-tooltip md-direction="left">
                                Remove
                            </md-tooltip>
                            <md-icon md-svg-src="icons/navigation/ic_cancel_48px.svg"></md-icon>
                        </md-button>

                    </div>

                </div>

            </div>

            <div flex layout="{{rowOrColumnForMobile}}" layout-align="center center">

                <div flex="{{calendarFlexValue}}" class="md-whiteframe-2dp" layout="column" style="{{elementsWidth}}">

                    <div flex layout="{{rowOrColumnForMobile}}">

                        <div flex="50" layout="row" layout-align="center center" ng-click="showTimePicker($event,'start',entry.entryId)">
                            <md-button class="md-icon-button" aria-label="Select start time">
                                <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                            </md-button>
                            <span>Start hours: &nbsp;&nbsp;&nbsp;</span>
                            <span>{{entry.startTime | date:'shortTime'}}</span>
                        </div>

                        <div flex="50" layout="row" style="{{verticalTimeDividerCss}}" layout-align="center center" ng-click="showTimePicker($event,'end',entry.entryId)">
                            <md-button class="md-icon-button" aria-label="Select end time">
                                <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                            </md-button>
                            <span>End hours: &nbsp;&nbsp;&nbsp;</span>
                            <span>{{entry.endTime | date:'shortTime'}}</span>
                        </div>

                    </div>

                    <div layout="row" layout-align="center center">
                        <md-divider flex="100" style="border-top-width: 1px;"></md-divider>
                    </div>

                    <br>

                    <div flex layout="{{rowOrColumnForMobile}}">

                        <md-input-container flex="50" id="dayType" class="md-block md-input-has-value">

                            <label for="workTypes">Work Type</label>

                            <md-select id="workTypes" ng-model="entry.currentWorkDayType">
                                <md-option ng-repeat="dayType in workDayTypes" value="{{dayType}}">
                                    {{dayType}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <md-input-container flex="50" id="projectInput" class="md-block md-input-has-value">

                            <label for="projectSelector">Project</label>

                            <md-select id="projectSelector" ng-model="entry.project" ng-model-option="{trackBy: '$value.id' }">
                                <md-option
                                        ng-repeat="projectx in userProjects"
                                        ng-bind="projectx.name"
                                        ng-value="projectx">
                                </md-option>
                            </md-select>

                        </md-input-container>

                    </div>

                    <div flex="{{calendarFlexValue}}" layout="row">
                        <md-input-container flex="100">
                            <label for="task">Details about your today's tasks</label>
                            <!--<input ng-model="task">-->
                            <textarea ng-model="entry.task" rows="1" id="task" md-select-on-focus=""></textarea>
                        </md-input-container>
                    </div>

                </div>

            </div>
<br>
        </div>
    </div>

    <div flex layout="row" layout-align="center center">
        <md-button flex="{{calendarFlexValue}}" class="animate-show md-raised md-warn" ng-click="insertTimesheetData()" ng-show="create">Create</md-button>
    </div>

    <div flex layout="row" layout-align="center center">
        <md-button flex="{{calendarFlexValue}}" class="animate-show md-raised md-warn" ng-click="updateTimesheetData()" ng-show="edit">Edit</md-button>
    </div>

    <br><br><br>

</section>

<!--
<div flex layout="{{rowOrColumnForMobile}}" layout-align="center center">

    <div flex="{{calendarFlexValue}}" layout="column" style="justify-content: space-around">

        <div flex layout="{{rowOrColumnForMobile}}">

            <div flex="50" layout="row" layout-align="center center" ng-click="showTimePicker($event,'start')">
                <md-button class="md-icon-button" aria-label="Select start time">
                    <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                </md-button>
                <span>Start hours: &nbsp;&nbsp;&nbsp;</span>
                <span>{{startTime | date:'shortTime'}}</span>
            </div>

            <div flex="50" layout="row" style="{{verticalTimeDividerCss}}" layout-align="center center" ng-click="showTimePicker($event,'end')">
                <md-button class="md-icon-button" aria-label="Select end time">
                    <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                </md-button>
                <span>End hours: &nbsp;&nbsp;&nbsp;</span>
                <span>{{endTime | date:'shortTime'}}</span>
            </div>

        </div>

        <div layout="row" layout-align="center center">
            <md-divider flex="100" style="border-top-width: 1px;"></md-divider>
        </div>

        <br>

        <div flex layout="{{rowOrColumnForMobile}}">

            <md-input-container flex="50" id="dayType" class="md-block md-input-has-value">

                <label for="workTypes">Work Type</label>

                <md-select id="workTypes" ng-model="currentWorkDayType">
                    <md-option ng-repeat="dayType in workDayTypes" value="{{dayType}}">
                        {{dayType}}
                    </md-option>
                </md-select>

            </md-input-container>

            <md-input-container flex="50" id="projectInput" class="md-block md-input-has-value">

                <label for="projectSelector">Project</label>

                <md-select id="projectSelector" ng-model="project" ng-model-option="{trackBy: '$value.id' }">
                    <md-option
                            ng-repeat="projectx in userProjects"
                            ng-bind="projectx.name"
                            ng-value="projectx">
                    </md-option>
                </md-select>

            </md-input-container>

        </div>

        <div flex="{{calendarFlexValue}}" layout="row">
            <md-input-container flex="100">
                <label for="task">Details about your today's tasks</label>
                <input ng-model="task">
                        <textarea ng-model="task" rows="1" id="task" md-select-on-focus=""></textarea>
                    </md-input-container>
                </div>

            </div>

        </div>
-->