<section id="queueSection" flex layout="column" layout-align="center center" ng-controller="AdminQueueController">

    <md-card flex="95" style="min-width: 95%">

        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
                <span>Queue</span>
                <div flex></div>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
            <div class="md-toolbar-tools">
                <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>

                    <th md-column><span>Avatar</span></th>
                    <th md-column><span>Name</span></th>

                    <th md-column><span>Weeks</span></th>
                    <th md-column><span>Actions</span></th>

                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="object" md-on-select="logItem" md-auto-select="options.autoSelect"
                    ng-repeat="object in objects | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">

                    <td md-cell>
                        <img style="height: 45px;width: 45px;border-radius: 50%;box-sizing: content-box;display: block"
                             class="md-avatar md-fab"
                             ng-src="{{object.user.profileImageURL}}"/>
                    </td>

                    <td md-cell>{{object.user.displayName}}</td>

                    <td md-cell>

                        <div layout="row">

                            <div ng-repeat="(weekKey, weekValue) in object.entries">

                                <md-button ng-click="testxaxa()" class="md-fab md-mini md-primary" aria-label="Week - {{weekKey}}">
                                    {{weekKey}}
                                </md-button>

                            </div>

                        </div>

                        <div ng-repeat="(weekKey, weekValue) in object.entries">

                            <div layout="column" ng-show="testxzxz" ng-repeat="(dayKey, dayValue) in weekValue" ng-if="dayKey != 'collapse'">

                                <div layout="row">

                                    <md-button class="md-raised md-warn">
                                        {{dayKey | date: "EEEE, MMMM d, y"}}
                                    </md-button>

                                    <md-button ng-click="deny(object)" style="width: 35px;height: 24px" class="md-fab md-mini" aria-label="Deny">
                                        <md-icon md-svg-src="icons/content/ic_remove_circle_outline_48px.svg"></md-icon>
                                    </md-button>
                                    <md-button ng-click="accept(object)" style="width: 35px;height: 24px" class="md-fab md-mini" aria-label="Aprove">
                                        <md-icon md-svg-src="icons/action/ic_done_48px.svg"></md-icon>
                                    </md-button>

                                </div>

                                <div layout="column" layout-align="center center" ng-repeat="dayEntry in dayValue.data">

                                    <div layout="row" layout-align="center center">
                                        <md-button ng-disabled="true" style="max-height: 10px" class="md-raised md-primary">
                                            {{dayEntry.project.name}}
                                        </md-button>

                                        <md-input-container id="dayType" class="md-block md-input-has-value">
                                            <md-select id="workTypes" ng-model="dayEntry.entry.dayType" aria-label="Day Type Input">
                                                <md-option ng-repeat="dayType in workDayTypes" value="{{dayType}}">
                                                    {{dayType}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-datepicker ng-init="date = getDateFromString(dayEntry.entry.date);"
                                                       ng-model="date"
                                                       md-open-on-focus
                                                       md-placeholder="Ponted day"
                                                       aria-label="Date of entry">

                                        </md-datepicker>

                                        <div layout="row" layout-align="start center" ng-click="showTimePicker($event,'fromHours',dayEntry.entry)">
                                            <md-button class="md-icon-button" aria-label="Select start time">
                                                <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                                            </md-button>
                                            <span>{{dayEntry.entry.fromHours | jsDate | date: "shortTime"}}</span>
                                        </div>

                                        <div layout="row" layout-align="start center" ng-click="showTimePicker($event,'toHours',dayEntry.entry)">
                                            <md-button class="md-icon-button" aria-label="Select end time">
                                                <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                                            </md-button>
                                            <span>{{dayEntry.entry.toHours | jsDate | date: "shortTime"}}</span>
                                        </div>

                                        <md-button ng-bind="getFirstPart(dayEntry.entry.task,5)" aria-label="Task viewer" ng-click="showPrompt($event, object)">
                                            <md-tooltip md-direction="bottom">
                                                {{getFirstPart(dayEntry.entry.task,25)}}
                                            </md-tooltip>
                                        </md-button>

                                        <div layout="row" layout-align="center center">
                                            <md-button ng-click="deny(object)" style="width: 35px;height: 24px" class="md-fab md-mini" aria-label="Deny">
                                                <md-icon md-svg-src="icons/content/ic_remove_circle_outline_48px.svg"></md-icon>
                                            </md-button>
                                            <md-button ng-click="accept(object)" style="width: 35px;height: 24px" class="md-fab md-mini" aria-label="Aprove">
                                                <md-icon md-svg-src="icons/action/ic_done_48px.svg"></md-icon>
                                            </md-button>
                                        </div>
                                    </div>

                                    <div layout="row" layout-align="center center" style="min-width: 70%;">
                                        <md-input-container class="md-block" style="min-width: 70%;">
                                            <label>Current Task</label>
                                            <textarea ng-model="dayEntry.entry.task" rows="1" md-select-on-focus></textarea>
                                        </md-input-container>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </td>

                    <td md-cell>

                        <md-button aria-label="menu" class="md-fab md-warn md-mini">
                            <md-icon md-svg-src="icons/action/ic_highlight_off_48px.svg" aria-label="menu"></md-icon>
                        </md-button>

                        <md-button aria-label="menu" class="md-fab md-warn md-mini">
                            <md-icon md-svg-src="icons/action/ic_done_all_48px.svg" aria-label="menu"></md-icon>
                        </md-button>

                    </td>

                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                             md-total="{{desserts.count}}" md-page-select="options.pageSelect"
                             md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
    </md-card>

</section>



<!--
    <ul ui-scroll-viewport flex style="width: 100%; height: 650px; display: table;list-style-type: none;-webkit-padding-start:0"
        class="md-whiteframe-1dp" layout="column" layout-align="center center">

        <li style="margin-top: 10px; margin-right: 1%;margin-left: 1%; display: flex;width: auto;border: 1px dashed #ddd;"
            layout="row" layout-align="start center" flex="100"
            ui-scroll="item in objects"  is-loading="loading">

            <div layout="column" flex layout-align="start center">

                <div layout="row" flex="100" layout-align="space-around center" >

                    <div layout="row" layout-align="space-around center">
                        <img style="height: 35px;width: 35px;border-radius: 50%; margin-left: 15px;box-sizing: content-box;display: block"
                             class="md-avatar md-fab"
                             ng-src="{{item.user.profileImageURL}}"/>

                        <p flex style="padding-left: 15px;width: {{displayNameWidth}};word-break: break-all;">{{item.user.displayName}}</p>
                    </div>

                    <div layout="row" flex style="flex-flow: row wrap;align-content: flex-start;">
                        <md-button class="md-fab md-mini md-primary"
                                   style="min-width: 40px"
                                   ng-click="collapseWeekAction(item,key,val)"
                                   ng-repeat="(key, val) in item.entries track by $index"
                                   aria-label="Week {{key}}">
                            {{key}}
                        </md-button>
                    </div>

                </div>

                <md-divider style="width:100%" ng-show="item.collapse"></md-divider>

                <div ng-repeat="(key, val) in item.entries[selectedWeekObjectKey]"
                     layout="column" class="animate-show"
                     ng-show="item.collapse" layout-align="center center" flex >

                    <div layout="row" layout-align="center center" style="border: 1px dashed #ddd;margin-top: 5px;margin-bottom: 5px;">
                        <md-button md-no-ink ng-click="collapseDay(val)" class="md-primary">
                            {{key | date:'fullDate'}}
                        </md-button>

                        <md-button class="md-fab md-mini" ng-click="acceptDay(val)" aria-label="Eat cake">
                            <md-icon md-svg-src="icons/action/ic_done_48px.svg"></md-icon>
                        </md-button>
                    </div>

                    <div layout="{{dayEntryAlign}}" ng-show="val.collapse" ng-repeat="entry in val.data" layout-align="center center">

                        <md-input-container id="dayType" class="md-block md-input-has-value">
                            <md-select id="workTypes" ng-model="entry.entry.dayType" aria-label="Day Type Input">
                                <md-option ng-repeat="dayType in workDayTypes" value="{{dayType}}">
                                    {{dayType}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container id="project" class="md-block md-input-has-value">
                            <md-select aria-label="Project selector" id="projectSelector"
                                       ng-model="entry.Project" ng-model-option="{trackBy: '$value.id' }">
&lt;!&ndash;                                <md-option
                                        ng-repeat="project in object.projects"
                                        ng-bind="project.name"
                                        ng-selected="{{object.data.Project.id === project.id ? 'true' : 'false'}}"
                                        ng-value="project">
                                </md-option>&ndash;&gt;
                            </md-select>
                        </md-input-container>

                        <md-datepicker ng-model="entry.date"
                                       md-open-on-focus
                                       md-placeholder="Ponted day"
                                       aria-label="Date of entry">

                        </md-datepicker>

                        <div layout="row" layout-align="start center" ng-click="showTimePicker($event,'fromHours',object.id)">
                            <md-button class="md-icon-button" aria-label="Select start time">
                                <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                            </md-button>
                            <span>{{entry.fromHours | date: ' HH:mm'}}</span>
                        </div>

                        <div layout="row" layout-align="start center" ng-click="showTimePicker($event,'toHours',object.id)">
                            <md-button class="md-icon-button" aria-label="Select end time">
                                <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                            </md-button>
                            <span>{{entry.toHours | date: ' HH:mm'}}</span>
                        </div>

                        <md-button ng-bind="getFirstPart(object.data.task)" aria-label="Task viewer" ng-click="showPrompt($event, object)">
                        </md-button>

                        <div layout="row" layout-align="center center">
                            <md-button ng-click="deny(object)" style="width: 35px;height: 24px" class="md-fab md-mini" aria-label="Deny">
                                <md-icon md-svg-src="icons/content/ic_remove_circle_outline_48px.svg"></md-icon>
                            </md-button>
                            <md-button ng-click="accept(object)" style="width: 35px;height: 24px" class="md-fab md-mini" aria-label="Aprove">
                                <md-icon md-svg-src="icons/action/ic_done_48px.svg"></md-icon>
                            </md-button>
                        </div>

                    </div>

                </div>

            </div>

        </li>

    </ul>
-->



<!--     INFINITE ^^^     -->


<!--<section id="queueSection">
    <div data-ng-controller="AdminQueueController" data-ng-show="authenticated">

        <div layout="row" layout-sm="column" layout-align="center center" ng-hide="loaded">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>


        <md-content layout="column" layout-align="center center" flex ng-show="loaded">

            <div flex layout="row" layout-align="center center">
                <md-button class="md-primary" ng-click="searchForTimesheets()">Timesheets</md-button>
                <md-button class="md-warn" ng-click="searchForHolidays()">Holidays</md-button>
            </div>

            <md-card>

                <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                    <div class="md-toolbar-tools">
                        <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                    </div>
                </md-toolbar>

                <md-table-container data-ng-init="find()">

                    <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">

                        <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                        <tr md-row>
                            <th md-column style="text-align: center"><span></span></th>
                            <th md-column style="text-align: center"><span>Display Name</span></th>
                            <th md-column style="text-align: center"><span>Day Type</span></th>
                            <th md-column style="text-align: center"><span>Project</span></th>
                            <th md-column style="text-align: center"><span>Date</span></th>
                            <th md-column style="text-align: center"><span>From Hours</span></th>
                            <th md-column style="text-align: center"><span>To Hours</span></th>
                            <th md-column style="text-align: center"><span>Task</span></th>
                            <th md-column style="text-align: center"><span>Actions</span></th>
                        </tr>
                        </thead>

                        <tbody md-body>

                        <tr md-row md-select="object" md-on-select="logItem" class="animate-show"
                            md-auto-select="options.autoSelect"
                            ng-show="object.showAction"
                            ng-repeat="object in objects track by $index">

                            <td md-cell>
                                <img style="height: 35px;width: 35px;border-radius: 50%; margin: auto;box-sizing: content-box;display: block"
                                     class="md-avatar md-fab"
                                     ng-src="{{object.data.User.profileImageURL}}"/>
                            </td>

                            <td md-cell>
                                <span style="padding-left: 5px">{{object.data.User.displayName}}</span>
                            </td>

                            <td md-cell>
                                <md-input-container id="dayType" class="md-block md-input-has-value">
                                    <md-select id="workTypes" ng-model="object.data.dayType" aria-label="Day Type Input">
                                        <md-option ng-repeat="dayType in workDayTypes" value="{{dayType}}">
                                            {{dayType}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </td>

                            <td md-cell>
                                <md-input-container id="project" class="md-block md-input-has-value">
                                    <md-select aria-label="Project selector" id="projectSelector"
                                               ng-model="object.data.Project" ng-model-option="{trackBy: '$value.id' }">
                                        <md-option
                                                ng-repeat="project in object.projects"
                                                ng-bind="project.name"
                                                ng-selected="{{object.data.Project.id === project.id ? 'true' : 'false'}}"
                                                ng-value="project">
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </td>

                            <td md-cell>
                                <md-datepicker ng-model="object.data.date"
                                               md-open-on-focus
                                               md-placeholder="Ponted day"
                                               aria-label="Date of entry"></md-datepicker>
                            </td>

                            <td md-cell>
                                <div layout="row" layout-align="start center" ng-click="showTimePicker($event,'fromHours',object.id)">
                                    <md-button class="md-icon-button" aria-label="Select start time">
                                        <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                                    </md-button>
                                    <span>{{object.data.fromHours | date: ' HH:mm'}}</span>
                                </div>
                            </td>

                            <td md-cell>
                                <div layout="row" layout-align="start center" ng-click="showTimePicker($event,'toHours',object.id)">
                                    <md-button class="md-icon-button" aria-label="Select end time">
                                        <md-icon md-svg-icon="icons/device/ic_access_time_48px.svg"></md-icon>
                                    </md-button>
                                    <span>{{object.data.toHours | date: ' HH:mm'}}</span>
                                </div>
                            </td>

                            <td md-cell>
                                <md-button ng-bind="getFirstPart(object.data.task)" aria-label="Task viewer" ng-click="showPrompt($event, object)">
                                </md-button>
                            </td>

                            <td md-cell>
                                <div layout="row" layout-align="center center">
                                    <md-button ng-click="deny(object)" style="width: 35px;height: 24px" class="md-fab md-mini" aria-label="Deny">
                                        <md-icon md-svg-src="icons/content/ic_remove_circle_outline_48px.svg"></md-icon>
                                    </md-button>
                                    <md-button ng-click="accept(object)" style="width: 35px;height: 24px" class="md-fab md-mini" aria-label="Aprove">
                                        <md-icon md-svg-src="icons/action/ic_done_48px.svg"></md-icon>
                                    </md-button>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>

                </md-table-container>

                <md-table-pagination md-limit="query.limit"
                                     md-limit-options="limitOptions"
                                     md-page="query.page"
                                     md-total="{{totalItems}}"
                                     md-page-select="options.pageSelect"
                                     md-boundary-links="options.boundaryLinks"
                                     md-on-paginate="logPagination">
                </md-table-pagination>

            </md-card>

        </md-content>

    </div>
</section>
   -->