<meta http-equiv="refresh" content="0; url=https://us12.admin.mailchimp.com/campaigns" />
<section>
    <div layout="row" layout-align="center center">

        <span> You will be redirected to Mail Chimp in a bit ... </span>

    </div>
</section>