<div layout="column" layout-align="space-between center" ng-init="startCountDown()">

    <div id="image">
        <img src="images/404.png" />
    </div>

    <div layout="column" layout-align="space-between center">

        <span class="md-headline">
            You will be redirected to the homepage in about ...  {{countdown}} seconds.
        </span>

        <span class="md-subhead">
            Or, if you're in a rush you can click
            <a ui-sref="home">me</a> or
            <a ui-sref="home">this</a> or
            <a ui-sref="home"> whatever </a>
            else .
        </span>

    </div>

</div>