<section class="row" ng-controller="ChangeProfilePictureController">

  <div flex layout="row" layout-align="center center" ng-cloak="">

    <form layout="column" layout-align="center center">

        <div ng-hide="uploader.queue.length">

            <label for="file-input">
                <img ng-src="{{imageURL}}" alt="{{user.displayName}}" style="width: 150px; height: 150px;" />
            </label>

            <input id="file-input" type="file" style="display: none" nv-file-select uploader="uploader" />
        </div>

    </form>

  </div>

</section>
