<section ng-cloak="" ng-controller="ChangePasswordController">

    <md-content layout="column" layout-align="center center" layout-padding="">

        <form name="passwordForm"  ng-submit="changeUserPassword(passwordForm.$valid)" novalidate autocomplete="off">

            <md-input-container class="md-block">

                <label for="currentPassword">Current Password</label>
                <input type="password" required="" md-no-asterisk="" id="currentPassword" name="currentPassword" ng-model="passwordDetails.currentPassword">

            </md-input-container>

            <md-input-container layout="column" layout-align="center center" class="md-block">

                <div ng-show="!passwordForm.newPassword.$error.required">
                    <md-progress-linear md-mode="determinate" value="{{requirementsProgress}}"></md-progress-linear>
                </div>

                <label for="newPassword">New Password</label>
                <input type="password" required="" md-no-asterisk="" id="newPassword" name="newPassword" ng-model="passwordDetails.newPassword"
                       popover="{{popoverMsg}}" popover-trigger="focus" password-validator>

                <div flex ng-messages="passwordForm.newPassword.$error">
                    <div ng-repeat="passwordError in passwordErrors">
                        <small ng-show="passwordForm.newPassword.$error.requirements">{{passwordError}}</small>
                    </div>
                </div>

            </md-input-container>

            <md-input-container class="md-block">

                <label for="verifyPassword">Verify Password</label>
                <input type="password" required="" md-no-asterisk="" id="verifyPassword" name="verifyPassword" ng-model="passwordDetails.verifyPassword" password-verify="passwordDetails.newPassword">

                <div ng-messages="passwordForm.verifyPassword.$error">
                    <small ng-show="passwordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</small>
                </div>

            </md-input-container>

            <div layout="row">
                <md-button flex="100" type="submit" class="md-raised md-warn">Save</md-button>
            </div>

        </form>

    </md-content>

</section>
