<section>

    <div flex layout="column" layout-align="center center" ng-cloak="" >

        <div flex layout="column" layout-align="center center" ng-controller="ChangeProfilePictureController as vm">

            <form layout="column" layout-align="center center">
                <div ng-hide="vm.uploader.queue.length">

                    <label for="file-input" layout="column" layout-align="center center">

                        <img ng-src="{{vm.imageURL}}"
                             alt="{{vm.authentication.user.displayName}}"
                             style="pointer-events: none;width: 150px; height: 150px;border-radius: 50%; margin: auto;box-sizing: content-box;display: block" />

                        <input id="file-input" type="file" style="display: none" nv-file-select uploader="vm.uploader" />

                    </label>

                </div>

                <br>
                <small style="font-size:0.7em;color: #7FFFD4;">150x150 | ~250kb</small>

            </form>

        </div>

        <div ng-controller="EditProfileController">
            <md-content layout="column" layout-align="center center" layout-padding="">

                <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" novalidate autocomplete="off">

                    <div layout="row">

                        <md-input-container flex="50" class="md-block">

                            <label for="firstName">First Name</label>
                            <input md-maxlength="50" required="" md-no-asterisk="" id="firstName" name="firstName" ng-model="user.firstName">

                        </md-input-container>

                        <span flex></span>

                        <md-input-container flex="50" class="md-block">

                            <label for="lastName">Last Name</label>
                            <input md-maxlength="50" required="" md-no-asterisk="" id="lastName" name="lastName" ng-model="user.lastName">

                        </md-input-container>

                    </div>

                    <md-input-container class="md-block">

                        <label for="email">Email</label>
                        <input md-maxlength="100" required="" md-no-asterisk="" id="email" name="email" ng-model="user.email" lowercase>

                    </md-input-container>

                    <div layout="row">
                        <md-button flex="100" type="submit" class="md-raised md-warn">Save</md-button>
                    </div>

                </form>

            </md-content>

        </div>

    </div>
</section>