<div ng-controller="AuthenticationController">

    <div flex layout="column" layout-align="center center" ng-cloak="">

        <span class="md-headline">Create a new account</span>

        <form name="userForm" ng-submit="signup(userForm.$valid)" novalidate autocomplete="off">

            <div layout="row">

                <md-input-container flex="50" class="md-block">

                    <label for="firstName">First Name</label>
                    <input md-maxlength="50" required="" md-no-asterisk="" id="firstName" name="firstName" ng-model="credentials.firstName">

                </md-input-container>

                <span flex></span>

                <md-input-container flex="50" class="md-block">

                    <label for="lastName">Last Name</label>
                    <input md-maxlength="50" required="" md-no-asterisk="" id="lastName" name="lastName" ng-model="credentials.lastName">

                </md-input-container>

            </div>

            <md-input-container class="md-block">

                <label for="email">Email</label>
                <input md-maxlength="100" required="" md-no-asterisk="" id="email" name="email" ng-model="credentials.email" lowercase>

            </md-input-container>

            <md-input-container class="md-block">

                <label for="username">Username</label>
                <input md-maxlength="100" required="" md-no-asterisk="" id="username" name="username" ng-model="credentials.username" lowercase>

            </md-input-container>

            <md-input-container layout="column" layout-align="center center" class="md-block">

                <div ng-show="!userForm.password.$error.required">
                    <md-progress-linear md-mode="determinate" value="{{requirementsProgress}}"></md-progress-linear>
                </div>

                <label for="newPassword">New Password</label>
                <input type="password" required="" md-no-asterisk="" id="password" name="password" ng-model="credentials.password"
                       popover="{{popoverMsg}}" popover-trigger="focus" password-validator>

                <div flex ng-messages="userForm.password.$error">
                    <div ng-repeat="passwordError in passwordErrors">
                        <small ng-show="userForm.password.$error.requirements">{{passwordError}}</small>
                    </div>
                </div>

            </md-input-container>

            <div layout="row">
                <md-button flex="100" type="submit" class="md-raised md-warn">Save</md-button>
            </div>

        </form>

    </div>

</div>
