<!--style="background-color:#E6E6FA;"-->
<div ng-controller="AuthenticationController">

    <form flex layout="column" layout-align="center center" ng-cloak="" name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">

        <span class="md-display-1" style="color: #37474F">Authentication</span>&nbsp;&nbsp;

        <md-input-container class="md-block">

            <label for="username">Username</label>
            <input type="text" required="" md-no-asterisk="" id="username" name="username" ng-model="credentials.username" lowercase>

        </md-input-container>

        <md-input-container class="md-block">

            <label for="password">Password</label>
            <input type="password" required="" md-no-asterisk="" id="password" name="password" ng-model="credentials.password">

        </md-input-container>

        <div flex layout="row" layout-align="center center">
            <md-button flex="50" type="submit" class="md-raised md-warn">Sign in</md-button>
            <md-button ng-show="error" flex="50" ui-sref="password.forgot" class="md-raised md-primary">Forgot ?</md-button>
        </div>

    </form>

</div>
